{% from "macros.j2" import render_social_icons %}

{% include "_snippets/theme_toggle.j2" %}
<aside class="side">
  <div class="inner">
    {% if page and page.type == 'audio_list' and site.podcast %}
      {% set podcast = site.podcast %}
      {% if podcast.image %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ podcast.image|thumbnail('ss') }}" alt="{{ podcast.title }}" width="120" height="120"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ podcast.title }}</a></h1>
      {% if podcast.subtitle %}
        <h2 class="side_subtitle">{{ podcast.subtitle }}</h2>
      {% elif podcast.description %}
        <h2 class="side_subtitle">{{ podcast.description }}</h2>
      {% endif %}
    {% else %}
      {% if site.logo %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }}" width="120" height="120"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ site.name }}</a></h1>
      {% if site.summary %}
        <h2 class="side_subtitle">{{ site.summary }}</h2>
      {% endif %}
      <div class="side_subscribe">
        <button class="js-subscribe">Subscribe</button>
      </div>
    {% endif %}

    {% if site.primary_links %}
      <ul class="side_links">
        {% for nav in site.primary_links %}
          <li><a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if site.podcast %}
      <ul class="side_links">
        <li class="subscribe">Subscribe</li>
        <li><a href="{{ linkify('/feed/audio.xml') }}"><i class="icon icon-feed" aria-hidden="true"></i><span>RSS</span></a></li>
        {% for item in site.podcast.links %}
          <li><a href="{{ linkify(item.url) }}"{% if item.blank %} target="_blank"{% endif %}>
            <i class="icon icon-{{ item.icon }}"></i><span>{{ item.title }}</span>
          </a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <nav class="side_social">
      {% if site.podcast and site.podcast.email %}
        {{ render_social_icons(site, site.podcast.email) }}
      {% else %}
        {{ render_social_icons(site, site.socials.email) }}
      {% endif %}
    </nav>
    <div class="side_search">
      <input class="js-search" type="text" placeholder="Search...">
    </div>
  </div>
</aside>
