{% from "macros.j2" import render_social_icons %}

<div class="theme-toggle">
  <input type="checkbox" id="js-theme-toggle">
  <label for="js-theme-toggle">
    <span class="theme-toggle_handle"></span>
    <svg class="sun" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="Light theme icon (sun)">
      <circle cx="12" cy="12" r="5" fill="currentColor"></circle>
      <line x1="12" y1="1" x2="12" y2="3"></line>
      <line x1="12" y1="21" x2="12" y2="23"></line>
      <line x1="4.22" y1="4.22" x2="5.64" y2="5.64"></line>
      <line x1="18.36" y1="18.36" x2="19.78" y2="19.78"></line>
      <line x1="1" y1="12" x2="3" y2="12"></line>
      <line x1="21" y1="12" x2="23" y2="12"></line>
      <line x1="4.22" y1="19.78" x2="5.64" y2="18.36"></line>
      <line x1="18.36" y1="5.64" x2="19.78" y2="4.22"></line>
    </svg>
    <svg class="moon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-label="Dark theme icon (moon)">
      <path d="M12 3c.132 0 .263 0 .393 0a7.5 7.5 0 0 0 7.92 12.446a9 9 0 1 1 -8.313 -12.454z" fill="currentColor" stroke="none"></path>
    </svg>
  </label>
</div>
<aside class="side">
  <div class="inner">
    {% if page and page.type == 'audio_list' and site.podcast %}
      {% set podcast = site.podcast %}
      {% if podcast.image %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ podcast.image|thumbnail('ss') }}" alt="{{ podcast.title }}" width="120" height="120"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ podcast.title }}</a></h1>
      {% if podcast.subtitle %}
        <h2 class="side_subtitle">{{ podcast.subtitle }}</h2>
      {% elif podcast.description %}
        <h2 class="side_subtitle">{{ podcast.description }}</h2>
      {% endif %}
    {% else %}
      {% if site.logo %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }}" width="120" height="120"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ site.name }}</a></h1>
      {% if site.summary %}
        <h2 class="side_subtitle">{{ site.summary }}</h2>
      {% endif %}
      <div class="side_subscribe">
        <button class="js-subscribe">Subscribe</button>
      </div>
    {% endif %}

    {% if site.primary_links %}
      <ul class="side_links">
        {% for nav in site.primary_links %}
          <li><a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if site.podcast %}
      <ul class="side_links">
        <li class="subscribe">Subscribe</li>
        <li><a href="{{ linkify('/feed/audio.xml') }}"><i class="icon icon-feed" aria-hidden="true"></i><span>RSS</span></a></li>
        {% for item in site.podcast.links %}
          <li><a href="{{ linkify(item.url) }}"{% if item.blank %} target="_blank"{% endif %}>
            <i class="icon icon-{{ item.icon }}"></i><span>{{ item.title }}</span>
          </a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <nav class="side_social">
      {% if site.podcast and site.podcast.email %}
        {{ render_social_icons(site, site.podcast.email) }}
      {% else %}
        {{ render_social_icons(site, site.socials.email) }}
      {% endif %}
    </nav>
    <div class="side_search">
      <input class="js-search" type="text" placeholder="Search...">
    </div>
  </div>
</aside>
