{% from "macros.j2" import render_social_icons %}

<aside class="side">
  <div class="inner">
    {% if page and page.type == 'episode_list' %}
      {% set podcast = site.podcast %}
      {% if podcast.image %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ podcast.image|thumbnail('ss') }}" alt="{{ podcast.title }}"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ podcast.title }}</a></h1>
      {% if podcast.subtitle %}
        <h2 class="side_subtitle">{{ podcast.subtitle }}</h2>
      {% elif podcast.description %}
        <h2 class="side_subtitle">{{ podcast.description }}</h2>
      {% endif %}
    {% elif page and page.type == 'author' %}
      {% set author = page.topic %}
      {% if author.avatar %}
        <a class="side_logo" href="{{ linkify(author.url) }}">
          <img src="{{ author.avatar|thumbnail('ss') }}" alt="{{ author.name }}">
        </a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify(author.url) }}">{{ author.name }}</a></h1>
      {% if author.bio %}
        <h2 class="side_subtitle">{{ author.bio }}</h2>
      {% endif %}
    {% else %}
      {% if site.logo %}
        <a class="side_logo" href="{{ linkify('/') }}"><img src="{{ site.logo.src|thumbnail('ss') }}" alt="{{ site.name }}"></a>
      {% endif %}
      <h1 class="side_title"><a class="h-card" rel="me" href="{{ linkify('/') }}">{{ site.name }}</a></h1>
      {% if site.summary %}
        <h2 class="side_subtitle">{{ site.summary }}</h2>
      {% endif %}
      <div class="side_subscribe">
        <button class="js-subscribe">Subscribe</button>
      </div>
    {% endif %}

    {% if site.nav_links %}
      <ul class="side_links">
        {% for nav in site.nav_links %}
          <li><a href="{{ nav.url }}" {% if nav.blank %} target="_blank"{% endif %}>{{ nav.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
    {% if site.podcast %}
      <ul class="side_links">
        <li class="subscribe">Subscribe</li>
        <li><a href="{{ linkify('/episodes/feed.xml') }}"><i class="icon icon-feed" aria-hidden="true"></i><span>RSS</span></a></li>
        {% for item in site.podcast.links %}
          <li><a href="{{ linkify(item.url) }}"{% if item.blank %} target="_blank"{% endif %}>
            <i class="icon icon-{{ item.icon }}"></i><span>{{ item.title }}</span>
          </a></li>
        {% endfor %}
      </ul>
    {% endif %}
    <nav class="side_social">
      {% if site.podcast and site.podcast.email %}
        {{ render_social_icons(site, site.podcast.email) }}
      {% else %}
        {{ render_social_icons(site) }}
      {% endif %}
    </nav>
    <div class="side_search">
      <input class="js-search" type="text" placeholder="Search..."
        {% if features.algolia %}data-id="{{ site.algolia_id }}" data-key="{{ site.algolia_key }}"{% endif %}>
    </div>
  </div>
</aside>
