{% from "macros.j2" import render_subject_content, render_subject_license, render_subject_authors %}

{% block style %}
  <link rel="stylesheet" href="{{ static_url }}ueno.css">
{% endblock %}

{% block body %}
  <div class="body">
    {% include "./_side.j2" %}
    <div class="main _episode">
      <div class="main_mark inner">
        <article role="main" class="h-entry" itemscope itemtype="http://schema.org/Article">
          <div class="entry-meta">
            {% if page.type == 'audio' %}
              {% if page.season and page.episode %}
                <span class="item-label">S{{ page.season }}E{{ page.episode }}</span>
              {% endif %}
              <span class="item-label">{{ page.duration }}</span>
            {% endif %}
            {% if page.published_at %}
              <time class="dt-published" datetime="{{ page.published_at|xmldatetime }}"
                    itemprop="datePublished">{{ page.published_at.strftime('%b %d, %Y') }}</time>
            {% endif %}
          </div>
          <h1 class="p-name" itemprop="headline">{{ page.title }}</h1>
          {% if page.subtitle %}
            <h2 class="p-summary">{{ page.subtitle }}</h2>
          {% endif %}
          <div class="e-content js-content yue" itemprop="articleBody">
            {{ render_subject_content(site, page) }}
            {% if page.type == 'page' %}
              {% include "_snippets/page_qr.j2" %}
            {% endif %}
          </div>
          {% if page.tags %}
            <div class="entry-tags">
              {% for tag in page.tags %}
                <a class="p-category" href="{{ linkify(tag.url) }}">{{ tag.title }}</a>
              {% endfor %}
            </div>
          {% endif %}
          {{ render_subject_authors(site, page) }}
        </article>
        {% if page.type != 'page' %}
          {{ render_subject_license(site, page) }}
        {% endif %}
        <div class="entry-block">
          {% include "_snippets/subject_share.j2" %}
        </div>
      </div>
      {% include "_snippets/subject_foot.j2" %}
    </div>
  </div>
  {% include "_snippets/site_foot.j2" %}
  {% include "_snippets/brand_foot.j2" %}
{% endblock %}
